<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
</head>
<body>
  <script src="/static/bootstrap/js/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

    <section class="vh-100 bg-image"
    style="background-image: url('/static/money-2724241_1280.jpg');">
    <div class="mask d-flex align-items-center h- gradient-custom-3">
      <div class="container h-100">

        <!-- Alerts -->
        <div class="container mt-3">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  <strong>{{ message }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
  
                <form method='POST' action="/sign-up">
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" name="first_name" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Your Name</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg">Password</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" name="confirm_password" id="form3Example4cdg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <button type="submit" data-mdb-button-init
                      data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-3 mb-0">Already have an account? <a href="/login"
                      class="fw-bold text-body"><u>Log in here</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>